---
const { title, subtitle, description } = {
    title: "Jesus Oyola",
    subtitle: "Frontend Developer",
    description:
        "Passionate about React and devoted to studying it for the last year. Enthusiastic about Linux, Nest, and Astro. My discipline drives constant growth in developing innovative projects.",
};

const socialNetworks = [
    {
        name: "Linkedin",
        url: "https://www.linkedin.com/in/jesus-oyola-b9b530284/",
    },
    {
        name: "Github",
        url: "https://github.com/Jes015",
    },
    {
        name: "Twitter",
        url: "https://twitter.com/Jes_15_",
    },
];
---

<section class="about">
    <header>
        <h1 class="about__title">{title}</h1>
        <h2 class="about__subtitle">{subtitle}</h2>
    </header>
    <main>
        <p class="about__description">
            {description}
        </p>
    </main>
    <footer>
        <div class="about__links-container">
            {
                socialNetworks.map((socialNetwork) => (
                    <a href={socialNetwork.url} target="_blank">
                        {socialNetwork.name}
                    </a>
                ))
            }
        </div>
    </footer>
</section>

<style>
    .about {
        width: auto;
        min-width: 30%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border: 0.1em solid var(--primary-border-color);
        border-bottom: none;
    }

    .about__title {
        color: var(--primary-text-color);
        font-size: 3em;
        margin-bottom: 0.1em;
    }

    .about__subtitle {
        font-size: 1em;
        margin-left: 0.3em;
    }

    .about__description {
        padding: 0.1em;
        max-width: 22em;
        font-size: 0.85em;
    }

    .about__links-container {
        display: flex;
        gap: 0.2em;
    }

    @media (width <= 606px) {
        .about {
            text-align: center;
        }

        .about__description {
            display: none;
        }
        .about__links-container {
            justify-content: right;
        }
    }
</style>
