---
import type { IExperience } from "@src/models/"
import TechList from "./TechList.astro"

interface Props {
  data: IExperience;
}

const {
  data: {
    profesion,
    company,
    endDate,
    startDate,
    description,
    companyURL,
    techs,
  },
} = Astro.props;
---

<div class="experience">
  <header class="experience__header">
    <div>
      <h3 class="experience__title">{profesion} ·</h3>
      <a class="experience__anchor" href={companyURL} target="_blank">
        {company}
      </a>
    </div>
    <div class="experience__date-container">
      <time class="experience__time" datetime={startDate}>
        {startDate}
      </time>
      <span>-</span>
      <time class="experience__time" datetime={endDate}>
        {endDate}
      </time>
    </div>
  </header>
  <main class="experience__main">
    <p class="experience__description scroll">
      {description}
    </p>
  </main>
  <footer>
    <TechList techs={techs} />
  </footer>
</div>
<style>
  .experience {
    height: 45%;
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    opacity: 0.75;
    gap: 0.6em;
    padding: 0.8em;
    border: 0.1em solid var(--primary-border-color);
    border-left: none;
    transition: 0.3s opacity ease;
  }

  .experience__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .experience__title {
    font-size: var(--primary-textCard-font);
    font-weight: 600;
    color: var(--primary-text-color);
    text-transform: capitalize;
  }

  .experience__date-container {
    font-size: 0.74em;
  }

  .experience__anchor {
    text-transform: capitalize;
  }

  .experience__main {
    flex-grow: 1;
  }
  .experience__description {
    max-width: 100%;
    font-size: var(--secondary--textCard-font);
    max-height: 5em;
    overflow-y: auto;
    text-wrap: balance;
  }

  .experience__description::-webkit-scrollbar {
    width: 0.4em !important;
  }
  .experience:hover {
    background: var(--primary-card-background) !important;
    opacity: 1;
  }

  @media (width <= 606px) {
    .experience {
      height: auto;
    }
    .experience__header {
      flex-direction: column;
      gap: 0.2em;
      align-items: flex-start;
    }
  }
</style>
