---
import { Image } from "@astrojs/image/components";
import type { IProject } from "@src/models";
import TechList from "./TechList.astro";
interface Props {
    data: IProject;
}
const {
    data: { title, techs, imageUrl, demoURL, githubURL },
} = Astro.props;
---

<div class="project">
    <header>
        <div class="project__image-container">
            {
                imageUrl ? (
                    <Image
                        class="project__image"
                        src={import(imageUrl)}
                        alt={`${title} image`}
                    />
                ) : (
                    <div class="project__image-not-found">
                        <span>NOT</span>
                        <span>FOUND</span>
                    </div>
                )
            }
        </div>
    </header>
    <main class="project__main">
        <span class="project__title">{title}</span>
        <ul class="scroll project__tect-list">
            <TechList techs={techs} />
        </ul>
    </main>
    <footer>
        <div class="project__ancords-container">
            <a href={demoURL} target="_blank">Demo</a>
            <a href={githubURL} target="_blank">Github</a>
        </div>
    </footer>
</div>

<style>
    .project {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.4em;
        border: 0.1em solid var(--primary-border-color);
    }

    .project__main {
        flex-grow: 1;
    }

    .project__title {
        display: block;
        font-weight: 500;
        font-size: var(--primary-textCard-font);
        text-transform: capitalize;
        color: var(--primary-text-color);
    }

    .project__image-container {
        background-color: var(--secondary-background-color);
        width: 100%;
        height: 7em;
        border-radius: 0.1em;
    }

    .project__image-not-found {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-weight: 900;
    }

    .project__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .project__ancords-container {
        display: flex;
        justify-content: flex-end;
        gap: 0.2em;
        font-size: 0.9em;
    }
</style>
